@import '../../../styles/variables.scss';

.main-pannel {
  @include defaultShadow;

  grid-column: 2 / 5;
  z-index: 10;
  position: sticky;
  top: 0;

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;

  background-color: $discordBlack-Darker;
  color: $discordWhite;
  border-radius: 0 0 8px 8px;
}

.pannel-collections {
  display: flex;
  flex-wrap: wrap;

  .collection-checkbox {
    margin: 0.5rem;
    display: flex;
    align-items: center;

    input {
      margin-right: 4px;
    }
  }
}

.pannel-pagination {
  display: flex;

  .pagination-input {
    display: flex;
    justify-content: end;
    align-items: center;

        
    margin: 0.5rem;
    border: 2px solid $discordBlack-Darker;
    background-color: $discordBlack;
    border-radius: 8px;
    overflow: hidden;

    label {
      color: $discordWhite;
      background-color: $alphaDark;

      height: 100%;
      padding: 0.5rem;

 
      
      text-align: end;
      white-space: nowrap;
    }

    input {
      background-color: $discordBlack;
      color: $discordWhite;

      height: 100%;
      width: 64px;
      padding: 0.5rem;
      
      border: none;
    }

    button.page-button {
      background: none;
      color: $discordWhite;

      border: none;

      width: 32px;
      height: 100%;

      &:hover {
        cursor: pointer;
      }
    }
  }
}