@import '../../../styles/variables.scss';
.message-attachment {
  display: flex;
  flex-direction: column;
  margin-top: 8px;
  padding: 8px;
  width: 50%;

  small {
    margin-top: 8px;
  }

  img {
    width: auto;
    height: auto;
    max-width: 100%;
    border-radius: 8px;
  }
  a {
    color: $discordWhite;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}