@import '../../../styles/variables.scss';

.log-data.message {
  margin-bottom: 1rem;
  padding: 0.5rem;
  border-radius: 0.5rem;

  background-color: $discordBlack;

  color: $discordWhite;

  .message-sticker {
    display: flex;
    flex-direction: column;
    img {
      width: 160px;
      height: auto;
    }
  }
}

