@import '../../../styles/variables.scss';

.embed-main {
  background-color: $alphaDark;

  padding: 8px;
  border-radius: 4px;
  display: grid;

  grid-template-rows: auto auto auto auto auto auto auto;
  grid-template-columns: auto auto auto;
  grid-template-areas: 
    'prov prov thumb'
    'author author thumb'
    'title title thumb'
    'desc desc thumb'
    'field field field'
    'image image image'
    'footer footer footer';

  div {
    border: none;
  }
}

.embed-author {
  grid-area: author;
  display: flex;
  align-items: center;

  img {
    width: 24px;
    height: auto;

    border-radius: 50%;
    margin-right: 8px;
  }

  a {
    color: $discordWhite;
    text-decoration: none;
    
    &:hover {
      text-decoration: underline;
    }
  }
}

.embed-title {
  grid-area: title;

  font-size: 0.75rem;
  a {
    text-decoration: none;
    color: #00a8fc;
    &:hover {
      text-decoration: underline;
    }
  }
}

.embed-thubnail-wrapper {
  grid-area: thumb;
  text-align: end;
  
  img {
    width: 8rem;
    height: auto;

    border-radius: 4px;
  }
}

.embed-description {
  grid-area: desc;
}

.embed-image-wrapper {
  grid-area: image;

  img {
    width: 32rem;
    height: auto;
    border-radius: 8px;
  }
}

.embed-field-wrapper {
  grid-area: field;
  display: flex;
  flex-wrap: wrap;

  & > .embed-field {
    margin: 8px;
    width: 100%;

    &.inline {
      width: auto;
    }
  }
}

.embed-provider {
  margin-bottom: 4px;
  a {
    &:visited {
      color: inherit;
    }
  }
}

.embed-video-wrapper {
  grid-area: image;
  display: flex;

  & > div {
    margin: 0;
    padding: 0;

    position: relative;
    border-radius: 16px;
    overflow: hidden;

    width: 50%;

    img {
      height: auto;
      width: auto;
      max-width: 100%;
    }
  }

  .embed-video-controller {
    position: absolute;
    top: 50%;

    width: 100%;
    display: flex;
    justify-content: center;

    background-color: rgba($color: #000000, $alpha: 0.8);;
    padding: 16px;

    font-size: 24px;

    button {
      background: none;
      border: none;
      color: $discordWhite;
      font-size: 20px;
      cursor: pointer;
      margin-right: 8px;
    }

    a {
      color: $discordWhite;
    }
  }
}

.embed-footer {
  grid-area: footer;
}