@import '../../../styles/variables.scss';

.log-data.command {
  margin-bottom: 1rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
  
  background-color: $discordBlack;
  
  color: $discordWhite;
  
  div {
    margin: 0.25rem 0;
    padding-bottom: 2px;
    border-bottom: 2px solid $alphaDark;
  }
}
