@import '../../../styles/variables.scss';

.main {
  @include defaultShadow;
  background-color: $discordBlack-Darker;
  margin: 2rem;
  border-radius: 0.5rem;
}

.log-main {
  padding: 1rem;
}

.log-data {
  margin-bottom: 1rem;
  padding: 0.5rem;
  border-radius: 0.5rem;

  background-color: $discordBlack;

  color: $discordWhite;

  div {
    margin: 0.25rem 0;
    padding-bottom: 2px;
    border-bottom: 2px solid $alphaDark;
  }
}

.log-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 2rem;
}

.log-type {
  font-size: 1.125rem;
  font-style: italic;
  padding: 0.25rem;
  width: 20rem;
  height: 100%;
  border-radius: 0.5rem 0;
  

  &.Info {
    background-color: $discordGreen;
  }
}

.log-date {
  color: $discordBlack-Darker;
  background-color: $discordWhite;
  height: 100%;
  padding: 0.25rem;
  border-radius: 0 0.5rem;
}

.log-author {
  display: flex;
  align-items: center;

  span {
    color: $discordWhite;
    font-size: 0.75rem;
  }


  .img-wrapper {
    img {
      width: 1.5rem;
      border-radius: 50%;
      overflow: hidden;
    }

    margin-right: 0.5rem;
  }
}