---
import Navbar from "../components/general/navbar.astro";
import Head from "../components/general/head.astro";
import ControlPannel from "../components/logger/controlPannel";
---

<html lang="en">
<Head title='Logger | General Bot'/>
<body>
  <Navbar selected={"logs"}/>
  <ControlPannel client:only="react"/>
  <main>
    <slot />
  </main>
</body>
</html>
<style lang="scss">
  body {
    display: grid;
    grid-template-columns: 30rem auto auto auto 20rem;
    main {
      grid-column: 2 / 5;
    }
  }
</style>