---
import Navbar from "../components/general/navbar.astro";
import Head from "../components/general/head.astro";

interface Props {
  username: string;
}

const { username } = Astro.props;
---

<html lang="en">
<Head title={`${username} | General Bot`}/>
<body>
  <Navbar selected={"members"}/>
  <main>
    <slot />
  </main>
</body>
</html>
<style lang="scss">
  body {
    display: grid;
    grid-template-columns: 20rem auto auto auto 10rem;

    main {
      margin-top: 2rem;
      grid-column: 2 / 5;
      display: grid;
      grid-template-columns: auto auto 25rem;
      grid-template-rows: auto auto;
      gap: 2rem;
      grid-template-areas: 
        'data data data'
        'msgs msgs bans'
      ;
    }
  }
</style>